<f:layout name="Default" />

<f:section name="main">
    <form action="index.php?controller=user&action=update" method="post" name="register">
        <p>Benutzername: <input type="text" name="userName" /></p>
        <p>Passwort: <input type="text" name="password" /></p>
        <p>E-Mail: <input type="text" name="email" /></p>
        <p>Vorname: <input type="text" name="firstName" /></p>
        <p>Nachname: <input type="text" name="lastName" /></p>
        <p>Iban: <input type="text" name="iban" /></p>
        <input type="submit" value="Go!" />
    </form>
</f:section>
